* {

	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: linear-gradient(to bottom, #D7FFEF 30%, #D2DDEF 70%);
  background-size: cover;
  background-attachment: fixed;
  
}

a{
  text-decoration: none;
}
h1{
  text-align: center;
}
h2{
  font-family: Times New Roman;
  text-align: center;
  font-size: 30px;
}
pre{
  
  margin-left: 30px;
  margin-right: 30px;
  font-family: Georgia;
  text-align: center;
  line-height: 30px;
  font-size: 17px;
}

table{
  margin-left: 20px;

  border-collapse: separate;
  border-spacing: 58px 0;
  text-align: center;
   margin-right: 30px;
  font-family: Georgia;

  line-height: 30px;
  font-size: 17px;
}
table img{
  border-radius: 20px;
}
@media (max-width: 2000px){
  table image{
    width: 100%;
    margin: auto;
  }
li{
  list-style: none;
}
hr{
  height: 11px;
  background-color: #C0DAD0;
  border-color: transparent;
  opacity: 0.5;
}

footer{
  width: 100%;
  border-top-left-radius: 55px;
  border-top-right-radius: 55px;
  bottom: 0;
  left: 0;
  background-color: white;
}
footer .content{
  max-width: 1350px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .content p,a{
  color: black;
}
footer .content .middle img{
  margin-left: 0.1px;
}
footer .content .box{
  width: 33%;
  transition: all 0.4s ease;
}
footer .content .topic{
  font-size: 22px;
  font-weight: 600;
  color: black;
  margin-bottom: 10px;
  text-align: justify;
  }

footer .content h3{
  font-weight: 450;
  margin-left: 30px;
  margin-right: 30px;
  font-family: Georgia;
}
footer .content p{
  font-weight: 450;
  margin-left: 30px;
  margin-right: 30px;
  font-family: Georgia;
}

footer .content p{
  text-align: justify;
  font-family: Book Antiqua;
}
footer .content .middle h3{
  margin-left: -20px;
}
footer .content .middle img{
  margin-left: -15px;
}
footer .content .lower .topic{
  margin: 24px 0 5px 0;
}
footer .content .lower i{
  padding-right: 16px;
}
footer .content .middle{
  padding-left: 80px;
}
footer .content .middle a{
  line-height: 32px;
}
footer .content .right input[type="text"]{
  height: 45px;
  width: 100%;
  outline: none;
  color: #d9d9d9;
  background: #000;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 17px;
  border: 2px solid #222222;
}

footer .content .right h3{
  margin-left: 1px;
}
footer .content .right input[type="submit"]{
  height: 42px;
  width: 100%;
  font-size: 18px;
  color: #d9d9d9;
  background: #eb2f06;
  outline: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 12px;
  border: 2px solid #eb2f06;
  transition: all 0.3s ease-in-out;
}
.content .right input[type="submit"]:hover{
  background: none;
  color:  #eb2f06;
}
footer .content .media-icons a{
  font-size: 16px;
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-radius: 5px;
  border: 2px solid #222222;
  margin: 30px 5px 0 0;
  transition: all 0.3s ease;
}
.content .media-icons a:hover{
  border-color: #eb2f06;
}
footer .bottom{
  font-weight: 5;
  font-size: 15px;
  font-family: Georgia;
  width: 100%;
  text-align: right;
  color: gray;
  padding: 0 40px 5px 0;
}
footer .bottom a{
  text-decoration: none;
  color: gray;
}
footer .bottom p{
  text-align: center;
}
footer a{
  transition: all 0.3s ease;
}
footer a:hover{
  color: #eb2f06;
}
@media (max-width:1100px) {
  footer .content .middle{
    padding-left: 50px;
  }
}
@media (max-width:950px){
  footer .content .box{
    width: 50%;
  }
  .content .right{
    margin-top: 40px;
  }
}
@media (max-width:560px){
  footer{
    position: relative;
  }
  footer .content .box{
    width: 100%;
    margin-top: 30px;
  }
  footer .content .middle{
    padding-left: 0;
  }
}
.navbar {
width: 100%;
  position: sticky;
  top: 0px;
  height: 97px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #A7FFEF;
  color: #fff;
  z-index: 1;
}
.navbar .nav-header{
  display: inline;
}
.nav-logo{
  margin-bottom: -20px;
  padding-right: 20px;
}
.navbar .nav-header .nav-logo{
  display: inline-block;
  margin-top: -3px;
  z-index: 1;
}
.navbar .nav-links{
  display: inline;
  float: right;
  font-size: 18px;
}
 
.navbar .nav-links .loginBtn {
  display: inline-block;
  padding: 5px 15px;
  margin-left: 20px;
  font-size: 17px;
  color: rgb(9, 14, 90);
}
.que{
  float: center;
  font-size: 17px;
  padding: 5px 15px;
  margin-left: 455px;
  margin-top: 15px;
}
.View{
  font-size: 17px;
  padding: 5px 15px;
  margin-left: 545px;
  margin-top: 15px;
}
.Kn{
  font-size: 17px;
  padding: 5px 15px;
  margin-left: 545px;
  margin-bottom: 15px;
}
.navbar .nav-links a{
  padding: 10px 12px;
  text-decoration: none;
  font-weight: 550;
  color: black;
  }
 
 
/* responsive navbar toggle button */
.navbar #nav-check, .navbar .nav-btn{
  display: none;
}
  
.nav-links a {
  color: #fff;
}

/* LOGO */
.logo {
  font-size: 32px;
}
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 25%;
  padding: 2px;
padding-left: 16.5px;
text-align: center;
font-family: serif;
}
.column2{

  float: left;
  width: 33.2%;
  padding: 2px;
padding-left: 30px;
text-align: center;
font-family: Book Antiqua;
font-size: 20px;
margin-top: 30px;

}
   
/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
/* NAVBAR MENU */
.menu {
  display: flex;
  
  
}
.menu li:hover {
  background-color: #4c9e9e;
  border-radius: 10px;
  transition: 0.3s ease;
  height: 40px;
}
.menu li {
  padding: 5px 5px;
}

/* DROPDOWN MENU */
.services {
  position: relative; 
}
.dropdown {
  background-color: rgb(1, 139, 139);
  padding: 0.5em 0;
  position: absolute; 
  display: none;
  border-radius: 8px;
  top: 41px;

}
.dropdown li + li {
  margin-top: 0.5px;
}
.dropdown li {
  padding: 0.1em 0.1em;
  width: 8em;
  text-align: center;
}
.dropdown li:hover {
padding: 0.5em 0;
  background-color: #4c9e9e;
  padding: 0.1em 0.1em;
  width: 8em;
}
.services:hover .dropdown {
  display: block;
  z-index: 1;
}

/*RESPONSIVE NAVBAR MENU STARTS*/

/* CHECKBOX HACK */
input[type=checkbox]{
  display: none;
} 

.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

/* APPLYING MEDIA QUERIES */
  @media (max-width: 700px) {

  .menu { 
    display:none;
    position: absolute;
    background-color:teal;
    right: 0;
    left: 0;
    text-align: left;
    padding: 16px 0;
  }

  .menu li:hover {
    display: inline-block;
    background-color:#4c9e9e;
    transition: 0.3s ease;
  }

  .menu li + li {
    margin-top: 5px;
  }

input[type=checkbox]:checked ~ .menu{
    display: block;
  }

  .hamburger {
    display: block;
  }

  .dropdown {
    left: 50%;
    top: 20px;
    transform: translateX(35%);
  }

  .dropdown li:hover {
    background-color: #4c9e9e;
  }
